<ion-header>
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>
 <form >
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text" [(ngModel)]="" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [(ngModel)]="" name="description"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>Register</button>
      <button ion-button type="submit" block>SignIn</button>
    </form>